$color-core-foreground: #0A0A0A;
$color-core-background: #1F1F1F;
$color-core-border: #3D3D3D;
$color-core-content: #FAFAFA;
$color-core-content-low: #A4A4A4;

$color-neutral-surface: #FFFFFF;
$color-neutral-content: #A4A4A4;
$color-neutral-content-onSource: #0A0A0A;
$color-neutral-content-high: #CACACA;
$color-neutral-content-higher: #F2F2F2;
