$measure-sizing-huge: 64px;
$measure-sizing-xxl: 40px;
$measure-sizing-m: 16px;
$measure-sizing-xxs: 4px;
$measure-sizing-xs: 8px;

$measure-spacing-l: 8px;
$measure-spacing-xxxl: 48px;

$measure-radius-s: 12px;
